/* INDEX
-----------------------------------------------*/

/*

- Layout
- Typography
- Links
- Buttons
- Main Navigation
- Header
- Media Queries
	- Medium and Large Screens (min-width: 48em / 768px)

*/



/* Layout 
------------------------------------------------*/

* {
	box-sizing: border-box;
}

body {
	margin-bottom: 3.75em;
}

.container {
	max-width: 48em;
	margin: 0 auto;
	width: 90%;
}

/* Typography 
------------------------------------------------*/

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: adelle, serif;
}

body {
	color: #666;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: #2a2c31;
	font-family: "brandon-grotesque", sans-serif;
}

/* Links
------------------------------------------------*/

a {
	color: #97df96;
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	color: #88ca87;
}

/* Buttons
------------------------------------------------*/

.button {
	font-family: "brandon-grotesque", sans-serif;
	font-size: 0.8125em;
	font-weight: 700;
	text-transform: uppercase;
}


/* Main navigation 
-------------------------------------------------*/

.main-nav {
	background-color: #fff;
	bottom: 0;
	height: 3.75em;
	padding-top: 1.15em; 
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.main-nav__list {
	margin: 0;
	padding: 0;
}

.main-nav__item {
	display: inline-block;
	text-align: center;
}

.main-nav__item:first-child {
	text-align: left;
}

.main-nav__item:last-child {
	text-align: right;
}

/* Header 
------------------------------------------------*/

.masthead {
	background: url("../images/masthead__bg.jpg") no-repeat center center fixed;
	background-size: cover;
	padding: 12.5em 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.masthead__title {
	font-size: 2.7143em;
}

.masthead__subtitle {
	color: #2a2c31;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1.2857em;
	margin-top: -1.125em;
}

.profile {
	border-radius: 3.125em;
	height: 6.25em;
	left: -3.125em;
	margin-left: 50%;
	overflow: hidden;
	position: absolute;
	bottom: -3.125em;
	width: 6.25em;
}

.profile__img {
	width: 6.25em;
}


/* Media Queries
------------------------------------------------*/

/* Medium and Large Screens (min-width: 48em / 768px) */

@media screen and (min-width: 48em) {

	body {
		margin-top: 3.75em;
		font-size: 16px;
	}

	.main-nav {
		bottom: auto;
		top: 0;
	}

	.masthead__title {
		font-size: 4.5em;
	}

	.masthead__subtitle {
		font-size: 2.25em;
		margin-top: -1.525em;
	}

	.profile {
		border-radius: 4.6875em;
		height: 9.375em;
		left: -4.6875em;
		bottom: -4.6875em;
		width: 9.375em;
	}

	.profile__img {
		width: 9.375em;
	}

}
