/* INDEX
-----------------------------------------------*/

/*

- Layout
- Typography
- Links
- Buttons and icons
- Main Navigation
- Header
- About Section
- Projects Section
- Media Queries
	- Medium and Large Screens (min-width: 48em / 768px)

*/



/* Layout 
------------------------------------------------*/

* {
	box-sizing: border-box;
}

body {
	margin-bottom: 3.75em;
}

.container {
	max-width: 48em;
	margin: 0 auto;
	width: 90%;
}

/* Typography 
------------------------------------------------*/

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: adelle, serif;
}

body {
	color: #666;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: #2a2c31;
	font-family: "brandon-grotesque", sans-serif;
}

h1 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.28em;
}
/* Links
------------------------------------------------*/

a {
	color: #97df96;
	text-decoration: none;
	transition: all 0.25s;
}

a:hover {
	color: #79a978;
}

/* Buttons
------------------------------------------------*/

.button {
	font-family: "brandon-grotesque", sans-serif;
	font-size: 0.8125em;
	font-weight: 700;
	text-transform: uppercase;
}

/* Main navigation 
-------------------------------------------------*/

.main-nav {
	background-color: #fff;
	bottom: 0;
	height: 3.75em;
	padding-top: 1.15em; 
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.main-nav__list {
	margin: 0;
	padding: 0;
}

.main-nav__item {
	display: inline-block;
	text-align: center;
}

.main-nav__item:first-child {
	text-align: left;
}

.main-nav__item:last-child {
	text-align: right;
}

/* Header 
------------------------------------------------*/

.masthead {
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 12.5em 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.page-masthead {
	background-image: url("../images/masthead__bg-small-screens.jpg");
}

.masthead__title {
	font-size: 2.7143em;
}

.masthead__subtitle {
	color: #2a2c31;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 1.2857em;
	margin-top: -1.125em;
}

.profile {
	border-radius: 3.125em;
	height: 6.25em;
	left: -3.125em;
	margin-left: 50%;
	overflow: hidden;
	position: absolute;
	bottom: -3.125em;
	width: 6.25em;
}

.profile__img {
	width: 6.25em;
}

/* About Section 
------------------------------------------------*/

.about {
	margin: 3.125em 0;
}

.about__title {
	border-bottom: 0.0625em solid #97df96;
}

.about .button {
	display: block;
	padding: 2.5em 0 1em;
	text-align: center;
	width: 100%;
}

.about__social-links {
	margin-bottom: 2.5em;
	text-align: center;
}

.more-about__title:before {
	color: #97df96;
	display: inline-block;
	font-family: "foundation-icons";
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	-webkit-font-smoothing: antialiased;
  	line-height: 1;
  	margin-right: 0.625em;
  	text-transform: none;
  	text-decoration: inherit;
}

.more-about__title.location:before {
	content: "\f172";
}

.more-about__title.likes:before {
	content: "\f159";
}

.more-about__title.listening:before {
	content: "\f17b";
}


/* Projects Section 
------------------------------------------------*/

.projects {
	margin-bottom: 3.125em;
}

.container.projects-container {
	max-width: 62.5em;
}

.projects-masthead {
	background-image: url("../images/projects__bg-small-screens.jpg");
	margin-bottom: 3.125em;
}

.project {
	margin-top: 2.25em;
}

.project__img {
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	width: 100%;
}

/* Footer 
------------------------------------------------*/

.page-footer {
	background-color: #2a2c31;
	padding: 3.125em 0 18.75em;
}

.page-footer__title {
	color: #fff;
	text-align: center;
}

.social-links {
	list-style-type: none;
	margin: 1.5625em 0 3.75em;
	padding: 0;
	text-align: center;
	width: 100%;
}

.social-links__item {
	display: inline-block;
	margin: 0 1.25em 1.25em;
}

.social-links__item .icon {
	font-size: 1.825em;
}

.credits {
	color: #fff;
	font-family: "brandon-grotesque", sans-serif;
	font-weight: 100;
	text-align: center;
}


/* Media Queries
------------------------------------------------*/

/* Medium and Large Screens (min-width: 48em / 768px) */

@media only screen and (min-width: 48em) {

	body {
		margin-bottom: 0;
		margin-top: 3.75em;
		font-size: 16px;
	}

	.main-nav {
		bottom: auto;
		top: 0;
	}

	.page-masthead {
		background-image: url("../images/masthead__bg-big-screens.jpg");
	}

	.masthead__title {
		font-size: 4.5em;
	}

	.masthead__subtitle {
		font-size: 2.25em;
		margin-top: -1.525em;
	}

	.profile {
		border-radius: 4.6875em;
		height: 9.375em;
		left: -4.6875em;
		bottom: -4.6875em;
		width: 9.375em;
	}

	.profile__img {
		width: 9.375em;
	}

	.about {
		margin: 9.375em 0 12.5em;
	}

	.about .button {
		text-align: left;
		width: inherit;
	}

	.about__social-links {
		text-align: left;
	}

	.more-about {
		padding-left: 20%;
	}

	.projects {
		margin-bottom: 12.5em;
	}

	.projects-masthead {
		background-image: url("../images/projects__bg-big-screens.jpg");
	}

	.project {
		margin-left: 0.625em;
		margin-right: 0.625em;
	}

}